*{
    padding: 0%;
    margin: 0%;
}
:root{
    --primaryColor: #66BB6A;
}
.main-container{
    display: flex;
    align-items: flex-start;
}

.main-container .sub-container{
    padding: 3%;
    background: #F7F7F7;
    min-height: 90vh;
    width: 100%;
    height: auto; 
    min-height: 100%;
    margin-left: 20vw;
    margin-top: 80px;
    overflow-x: hidden;
    min-height: 90vh;
    
}
.main-container .sub-container .heading{
    margin-bottom: 2rem ;
}


.main-container .sub-container .heading h3{
    color: #2D2D2D;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.9px;
}
.sub-container .profile-image{
    margin-bottom: 2rem;
}
.sub-container .user-details .group{
    margin-bottom: 2rem;
}
.sub-container .user-details .detail {
    border-radius: 5px;
    border: 1px solid rgba(102, 187, 106, 0.2);
    background: #fff;
    padding: 17px;
    color: #3a3a3a;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .user-details .group .label {
    color: var(--primaryColor);
    font-family: inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
  }
.sub-container .send-email{
    width: 348px;
    height: 56px;
    background-color: var(--primaryColor);
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    border-radius: 30px;
}