*{
    box-sizing: border-box;
    font-style: chivo;
    padding: 0;
    margin: 0%;
  }
  :root{
    --primaryColor: #66BB6A;
    --ash: #324148B2;
    --lighterAsh :#B5B4B4;
    --white: #ffff;
  }
  .contactUs{
    padding: 5%;
  }
  .contactUs h2{
    color: #2D2D2D;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.9px;
  }
  .contactUs p{
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 1rem;
  }
  .contactUs p span{
    color: rgba(45, 45, 45, 0.70);
  }
  .contactUs>p:first-of-type{
    color: #2D2D2D;
    opacity: 0.8;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .contactUs form{
    margin-top: 2rem;
  }
  .contactUs .input--group{
    margin-bottom: 1.5rem;
  }
  .contactUs input{
    height: 54px;
    width: 100%;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #CECECE;
    background: #FAFAFA;
    margin-top: 0.5rem;
    padding:  0 1rem;
  }
  

  .contactUs .input--group label{
    color: #2D2D2D;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .contactUs .input--group textarea{
    height: 7rem;
    width: 100%;
    width: 100%;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #CECECE;
    background: #FAFAFA;
    margin-top: 0.5rem; padding: 1rem;
  }
  .contactUs button{
    background-color: var(--primaryColor);
    color: white;
    height: 54px;
    width: 400px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    border-radius: 5px;
    border: none;
  }