/* footer  */
*{
    box-sizing: border-box;
    font-style: chivo;
  }
  :root{
    --primaryColor: #66BB6A;
    --ash: #324148B2;
    --lighterAsh :#B5B4B4;
    --white: #ffff;
  }
  
footer{
    background-color: var(--primaryColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 100px; */
    padding: 0 5%;
    color: white;
    position: static;
    bottom: 0%;
    width: 100%;
    min-height: fit-content;
    }

footer p{
     
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
    }
 footer> div{
  display: flex;
  gap: 0 5%;
  min-width: fit-content;
 }   
  
  footer>div .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 5px;
  }  

  @media(min-width: 760px){
    .footer{
      /* height: 100px; */
      padding: 2% 0;
    }
  }

    /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  footer{
    display: flex;
        flex-direction: column;
        padding: 2% 0;
        /* height: 50px; */

  }
  footer p{
    font-size: 16px;
    text-align: center;
  }
}

/* Small devices (landscape phonespx and up) */

@media (min-width: 576px) and (max-width: 767.98px){
  footer{
    display: block;
    height: max-content;

  }
  footer p{
    font-size: 16px;
    text-align: center;
  }
}
    
   /* Styles for small phones */
  @media (max-width: 575.98px) { 
   .footer{
    min-height: max-content;
    display: block;
   }
    footer p{
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      margin-bottom: 10px;
      text-align: center;
      }
      footer{
        display: flex;
        flex-direction: column;
        padding: 5% 0;
      }
}
