* {
  box-sizing: border-box;
  font-style: chivo;
  overflow-x: hidden;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --primaryColor: #66BB6A;
  --ash: #324148B2;
  --lighterAsh: #B5B4B4;
  --white: #ffff;
}

button {
  cursor: pointer;
}

.notifications {
  width: 100vw;
  padding: 5%;
  min-height: 90vh;
}

.notifications-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.notifications > h3 {
  color: #2D2D2D;
  font-family: Inter, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.9px;
  margin-bottom: 3%;
}

.single-notification {
  border-radius: 10px;
  border: 1px solid var(--primaryColor);
  background: var(--white);
  box-shadow: 0px 0px 10px 0px rgba(102, 187, 106, 0.10);
  padding: 1.5rem 2rem;
  position: relative;
  margin-bottom: 2%;
}

.notification-date {
  text-align: right;
  color: var(--ash);
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: normal;
}

.single-notification .desc {
  display: flex;
  flex-direction: column; /* Change to column for smaller screens */
  justify-content: space-between;
  margin-top: 1rem;
}

.single-notification .desc p {
  color: var(--ash);
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0;
}

.single-notification .desc h3 {
  color: #2D2D2D;
  font-family: inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* display: none; */

}

.single-notification .icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  fill: #F04450;
}

@media (min-width: 768px) {
  .single-notification .desc {
    flex-direction: row;
    align-items: center;
  }

  .single-notification .desc p {
    font-size: 1rem;
  }

  .single-notification .desc h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .notifications > h3 {
    font-size: 2.5rem;
  }

  .single-notification {
    padding: 2rem 3rem;
  }

  .single-notification .desc p {
    font-size: 1.125rem;
  }

  .single-notification .desc h3 {
    font-size: 1.75rem;
  }
}
