*{
  box-sizing: border-box;
  font-style: chivo;
  overflow-x: hidden;
  
}
body{
  width: 100%;
}

:root{
  --primaryColor: #66BB6A;
  --ash: #324148B2;
  --lighterAsh :#B5B4B4;
  --white: #ffff;
}
button{
  cursor: pointer;
}

.hero-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url('https://placehold.co/1920x1080') no-repeat center center/cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.title {
  color: #FAFAFA;
  text-align: center;
  width: 50%;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  /* line-height: 50px; */
  margin-bottom: 1.5rem;
}

.highlight {
  color: var(--primaryColor); 
}

.search-bar {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 9999px;
  padding: 0.5rem;
  width: 80%;
  max-width: 600px;
  position: relative;
  color: rgba(0, 0, 0, 0.50);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  margin-left: 2rem ;
}

.search-icon{
  position: absolute;
  top: auto;
  left: 1 rem;
}
.search-button {
  background: var(--primaryColor);
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  cursor: pointer;
}

.search-button:hover {
  background: #28a745; 
}

/* eventGateway */
.event-gateway {
background-size: cover;
background-position: center;
text-align: center;
padding: 100px 20px;
color: white;
background-color: #06061D;
}

.event-gateway h1 {
font-size: 2.5rem;
margin-bottom: 20px;
}

.create-events-button {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  border: none;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px; 
  letter-spacing: 1.25px;
  padding: 0.5rem 0px;
  color: var(--white);
  background: transparent;
  width: 18%;
  border: 1px solid var(--white);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 80px;
}

.create-events-button:hover {
background-color: rgba(255, 255, 255, 1);
}


/* RESPONSIVENESS */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    
}

/* Small devices (landscape phonespx and up) */
@media (min-width: 576px) and (max-width: 767.98px){
  
}
    
   /* Styles for small phones */
  @media (max-width: 575.98px) { 
    .hero-section {
      position: relative;
      width: 100%;
      height: 50vh;
      background: url('https://placehold.co/1920x1080') no-repeat center center/cover;
    }
    
  .title {
    color: #FAFAFA;
    text-align: center;
    width: 80%;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
  .search-bar {
    padding: 0.5rem;
    width: 80%;
    max-width: 600px;
    position: relative;
    color: rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 10px;
  }
  .search-input{
    font-size: 10px;
  }
  
/* FEATURED EVENTS GRID */

    
    
}



/* RESPONSIVENESS  */